@using RoomOfSon.Models.DAO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_HomeLayout.cshtml";
}
@model IList<UserCheckedDAO>
<style>
  
</style>
<div class="container" style=" min-height:200px;">

    <div class="in-container" style="padding-right:50px; width:30%; float:left">
        @using (Ajax.BeginForm("SubmitMeal", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "kqSubmitMeal", LoadingElementId= "loadingimg3", OnSuccess= "btn_loadtblmeal_click" }))
        {
            @Html.AntiForgeryToken()
            <h2 class="title-content">Nhập bữa ăn</h2>
            <label for="usr">Money</label>
            <input name="money" type="number" autocomplete="off" class="form-control" id="usr" required >
            <label for="usr" style="margin-top:20px;">Description</label>
            <input name="description" autocomplete="off" type="text" class="form-control" id="desmeal" required >
            <ul class="list-group" style="margin-top:20px;">
                @for(int i = 0; i < Model.Count; i++)
                {
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>@Html.HiddenFor(x => x[i].UserChecked.ID) @Html.CheckBoxFor(x => x[i].IsChecked) @Html.DisplayFor(x => x[i].UserChecked.Fullname)</label>
                        </div>
                    </li>
                }

            </ul>

            <img id="loadingimg3" src="~/Content/img/loadinggif.gif" style="display:none; width:40px; height:40px;" />
            <div id="kqSubmitMeal" style="font-size:20px;color:red;"></div>
            <div style="text-align:center;width:100%; height:auto;margin-bottom:20px;"><input id="#btn_submit_meal" type="submit" value="Nhập" class="btn btn-success"></div>

        }
       
    </div>
    <div class="in-container" style="width:70%; float:left;">
        <h2 class="title-content">Chi tiết bữa ăn</h2>
       
      
        <div><button class="btn btn-info btn-xs" id="btn_loadtblmeal" style="display:none;">Trạng thái bữa ăn</button></div>
        <img id="loadingimg4" src="~/Content/img/loadinggif.gif" style="display:none; width:40px; height:40px;" />
        <div id="resGetMealPartialView">
            @Html.Action("GettblMealPartialView")
        </div>
    </div>

</div>
<script>
    $("#btn_loadtblmeal").click(function () {
        $.ajax({
            method: "POST",
            data: {},
            url: "@Url.Content("GettblMealPartialView")",
            success: function(res){
                $("#resGetMealPartialView").html(res);
            }
        })
    });
    function btn_loadtblmeal_click() {
        $("#btn_loadtblmeal").click();
        $("#usr").val("");
        $("#desmeal").val("");
    }
</script>